:root {
  --background-color: #f5f5f1;
  --text-color: #e50914;
  --secondary-color: #831010;
  --header-color: #221f1f;
  --accent-color: #564d4d;
}

[data-theme="dark"] {
  --background-color: #141414;
  --header-color: #f5f5f1;
}

body {
  text-align: center;
  background-color: var(--background-color);
  font-family: sans-serif;
}

h1 {
  color: var(--header-color);
}

h1 span {
  color: var(--text-color);
}

sup {
  font-size: 18px;
  padding: 3px;
  margin: 3px;
  background-color: var(--text-color);
  border-radius: 3px;
  color: var(--background-color);
}

h2 {
  font-size: 36px;
  color: var(--header-color);
}

form {
  margin: 30px 5%;
  text-align: left;
}

form > section {
  margin: 50px 0;
}

label {
  display: inline-block;
  margin-bottom: 3px;
  font-size: 24px;
  color: var(--header-color);
}

input,
select {
  font-size: 21px;
  width: 99%;
}

/* Double-sized Checkboxes */
input[type="checkbox"] {
  width: 21px;
  height: 21px;
}

section#quotes-custom textarea {
  width: 99%;
  font-size: 18px;
  line-height: 140%;
  resize: vertical;
  min-height: 750px;
}

div.flex-2 {
  display: flex;
  gap: 16px;
}

div.flex-2 > * {
  width: calc(50% - 16px);
}

.error-message,
.warning-message {
  color: #2c3e50;
  padding: 15px 4px 10px 10px;
  font-size: 21px;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
}

.error-message::before,
.warning-message::before {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 4px 8px 0 0;
}

.error-message p,
.warning-message p {
  display: inline-block;
  margin: 0 5px 0 0;
}

.error-message {
  background-color: #ffcccc;
  border-left: 9px solid #ff0033;
}

.error-message::before {
  content: url(../../assets/images/error.svg);
}

.warning-message {
  background-color: #fff3cd;
  border-left: 9px solid #ffecb5;
  color: #664d03;
}

.warning-message::before {
  content: url(../../assets/images/warning.svg);
}

#quotes-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

#quotes-container > * {
  width: calc(33% - 2rem);
}

a {
  color: var(--text-color);
  margin-right: 16px;
}

a:visited {
  color: var(--secondary-color);
}

input[type="checkbox"] + label {
  margin-left: 8px;
}

label small {
  display: block;
  font-size: 16px;
}

label + input,
select {
  margin-top: 8px;
}

.switch {
  position: relative;
  width: 60px;
  height: 34px;
  float: right;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  background-color: #ccc;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.option {
  margin: 32px 0;
  padding: 16px;
  background-color: #e6e6e6;
}
