body {
    text-align: center;
    background-color: #f5f5f1;
}

h1 {
    font-size: 42px;
    color: #221f1f
}

h1 span {
  color: #e50914;
}

h2 {
    font-size: 36px;
}

form {
    margin: 30px 5%;
    text-align: left;
}

form section {
    margin: 30px 0;
}

form section div {
    margin: 7px 0;
}

label {
    display: inline-block;
    margin-bottom: 3px;
    font-size: 24px;
}

input,
select {
    font-size: 21px;
    width: 100%;
}

/* Double-sized Checkboxes */
input[type="checkbox"] {
    width: 21px;
    height: 21px;
}

div.flex-2 {
    display: flex;
    gap: 16px;
}

div.flex-2 > * {
    width: calc(50% - 16px)
}

.button-group {
    margin-top: 60px;
    text-align: right;
}

button.primary,
button.secondary {
    text-transform: uppercase;
    font-size: 17px;
    padding: .75rem 17.33333333px;
    min-width: 98px;
    min-height: 37px;
    margin-right: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: auto;
    line-height: 1rem;
    font-weight: 700;
    cursor: pointer;
    border: 0;
}

button.primary:active,
button.secondary:active {
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}

button.primary {
    color: #fff;
    background-color: #e50914;
}

/* button.primary:active {
    background-color: #e50914;
} */

button.secondary {
    color: #000;
    background-color: #ccc;
}